.homepage {
  background-image: -moz-element("https://wallpaperaccess.com/full/381005.jpg");
  background-color: white;
  padding: 0 40px 40px;
  display: flex;
  justify-content: "center";
  height: 100%;
  flex-direction: column;
}

.imageCarosel {
  display: flex;
  height: 30vh;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
