.male-and-female-dwarves {
  height: 50rem;
  /* src:url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1bebd154-3cec-433f-96a7-8442069ab770/d8ug6vd-0dd12b60-5b39-4e34-9e2f-cd2f22427534.jpg/v1/fill/w_881,h_907,q_70,strp/cosmos_rpg__dwarf_by_olieart_d8ug6vd-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA1NCIsInBhdGgiOiJcL2ZcLzFiZWJkMTU0LTNjZWMtNDMzZi05NmE3LTg0NDIwNjlhYjc3MFwvZDh1ZzZ2ZC0wZGQxMmI2MC01YjM5LTRlMzQtOWUyZi1jZDJmMjI0Mjc1MzQuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.ESIsy71osiJ3NfyGR85sCtZ82j30zMUZf8ZLHXmUKP4") */
}

.background {
  display: flex;
  background: #8585ff;
}

.title {
  font-size: "4em";
}
