/* .App {
  text-align: center;
  background-color: "#8585ff";
} */
/* 
.title {
  font-size: large;
} */

body {
  /* display: flex; */
  background-color: white;
  background-repeat: repeat;
  background-size: contain;
}

.background {
  display: flex;
  align-items: center;
  height: 100vh;
}

/* .layout {
  background-color: yellow;
  display: flex;
  height: 100vh;
  width: auto;
} */
