/* .App {
  text-align: center;
  background-color: "#8585ff";
} */
/* 
.title {
  font-size: large;
} */

/* body {
  display: flex;
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
} */
/* 
.background {
  display: flex;
  align-items: center;
} */

.layout {
  background-color: yellow;
  display: flex;
  size: 100vh;
}
